* {
	margin: 0;
	padding: 0;
}
body {
	font-family: monospace;
	font-size: 11pt;
    color: #839496;             /* solarised base0 */
    background-color: #073642;  /* solarized base02 */
    padding: 4px;
}
div#terminal {
	font-family: monospace;
	font-size: 11pt;
    color: #839496;             /* solarised base0 */
    background-color: #073642;  /* solarized base02 */
    padding: 4px;
}
.terminal {
	outline: none;
	font-family: monospace;
}
div#terminal-top {
	
}
span#terminal-prompt {
	float: left;
	display: none;
    font-weight: bold;
}
span#terminal-bottom {
	float:left;
	border: none;
}
span#terminal-caret {
	display: none;
	background-color: #839496;
	-webkit-animation: blink 1.5s infinite steps(1, start);
	-moz-animation: blink 1.5s infinite steps(1, start);
	-ms-animation: blink 1.5s infinite steps(1, start);
	animation: blink 1.5s infinite steps(1, start);
}
div#terminal a {
	color: #6c71c4;
	text-decoration: none;
}
div#terminal a:hover {
	color: #d33682;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
