* {
	margin: 0;
	padding: 0;
}
body {
	font-family: monospace;
	font-size: 11pt;
	color: #111;
}
div#terminal {
	margin: 0 auto;
}
.terminal {
	max-width: 600px;
	outline: none;
	font-family: monospace;
	color: #111;
}
div#terminal-top {
	overflow-y: hidden;
	max-height: 80%;
}
span#terminal-prompt {
	float: left;
	display: none;
        font-weight: bold;
}
span#terminal-bottom {
	float:left;
	border: none;
}
span#terminal-caret {
	display: none;
	background-color: #111;
	-webkit-animation: blink 1s infinite steps(1, start);
	-moz-animation: blink 1s infinite steps(1, start);
	-ms-animation: blink 1s infinite steps(1, start);
	animation: blink 1s infinite steps(1, start);
}
div#terminal a {
	color: #f80;
	text-decoration: none;
}
div#terminal a:hover {
	color: #f53;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
}
